* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menubar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  align-items: center;
  height: 1.250em;
  padding: 1.250em;
}

.logo {
  width: 12.5em;
  margin-left: -1.550em;
}

.about {
  font-family: Roboto;
  margin-right: 2.5em;
  text-decoration: none;
  color: grey;
}

.content1 {
  display: flex;
  position: absolute;
  width: 200em;
  height: 48em;
}


.left h2 {
  font-family: Roboto;
  position: absolute;
  top: 4em;
  left: 2.4em;
  font-size: 3em;
}

.left
 p {
  font-family: Roboto;
  position: absolute;
  line-height: 1.5em;
  font-size: 1.6em;
  top: 11em;
  width: 23em;
  left: 4.6em;
  color: #878E88
}

.left img {
  position: absolute;
  top: 4em;
  left: 40em;
  width: 42em;
}

.right img {
  position: absolute;
  top: 50em;
  width: 45em;
}



.right h2 {
  font-family: Roboto;
  position: absolute;
  line-height: 1.5em;
  top: 16em;
  left: 13em;
  font-size: 3em;
  width: 15em
}

.right p {
  font-family: Roboto, sans-serif;
  position: absolute;
  line-height: 1.5em;
  font-size: 1.6em;
  top: 37em;
  width: 25em;
  left: 24.3em;
  color: #878E88

}


.end h2 {
  position: absolute;
  top: 5em;
  left: 7em;
  font-family: Roboto, sans-serif;
  font-size: 2em;
}

.end p {
  position: absolute;
  font-family: Roboto;
  font-size: 1.6em;
  width: 30em;
  left: 12em;
  line-height: 1.3em;
  top: 8em;
  text-align: center;
  color: #878E88;
}

.end {
  position: absolute;
  top: 92em;
  width: 500em;
  height: 40em;
  background-color: #FCFCFC;

}

.end nav{
  position: absolute;
  top: 25em;
  left: 50em;
}


.end nav .green {
  width: 15em;
  height: 2em;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #64f364;
  background-image: linear-gradient(to bottom, #64F364 2%, #2BD42B 7%, #01A401 95%, #006900 100%);
  border-color: #00C000;
  position: absolute;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  line-height: 50px;
}
