@media (max-width: 1439px) and (min-width: 1024px) {
  .landing .landingWrapper .left  {
   left: 0em;
 }

 .landing .landingWrapper .right  {
   left: 0em;
 }

 .landing .landingWrapper .next  {
   left: 0em;
 }

 .landing .landingWrapper .end  {
   left: 0em;
 }
}

@media (max-width: 767px) and (min-width: 320px) {
  .landing .landingWrapper .left h2 {
    font-size: 2.5em;
    top: 2em;
    left: 0em;
  }
  .landing .landingWrapper .left p {
    /* font-size: 1em; */
    top: 5em;
    width: 15em;
    left: 0em;
  }

  .landing .landingWrapper .left img {
    left: -1.5em;
    top: 22em;
    width: 25em;
  }



}
